/**
 * Styles for alternating message variant.
 */

.outgoing .gutter {
	float: right;
}

.outgoing .bubble {
	margin: 0 4em 0 1em;
}

.outgoing .bubble::before {
	border-right-color: transparent;
	border-left-color: #eee;
	left: auto;
	right: -1em;
}